@model TomasosPizzeria.ViewModels.UserViewModel
<div id="user-new-order-message">
    <h4>Beställning gjord! Smaklig måltid</h4>

    <h5>Om problem uppstår var vänlig uppge följande ordernummer: @Model.CurrentOrder.BestallningId</h5>
</div>
