<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tomasos Pizzeria</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.unobtrusive-ajax/3.2.5/jquery.unobtrusive-ajax.min.js"></script>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <header>
        <a asp-controller="User" asp-action="UserMain">
            <img src="/images/tomasos-logga-3.svg" id="header-logo" /> 
        </a>
    </header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <ul class="nav" id="nav-logged-in-user">
            <li class="nav-item">
                <a class="nav-link" asp-controller="User" asp-action="UserMain">Hem</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="User" asp-action="UserMenu">Meny</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="User" asp-action="UserCheckout">Varukorg</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="User" asp-action="UserInfo">Kunduppgifter</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Account" asp-action="LogOut">Logga ut</a>
            </li>
        </ul>
    </nav>

    <main>
        @RenderBody()
    </main>
</body>
</html>